astroid==1.6.5
atomicwrites==1.1.5
attrs==18.1.0
backports.functools-lru-cache==1.5
chromedriver-installer==0.0.6
click==6.7
configparser==3.5.0
enum34==1.1.6
Flask==1.0.2
Flask-SocketIO==3.0.1
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
more-itertools==4.2.0
numpy==1.14.4
Pillow==5.0.0
pluggy==0.6.0
psutil==5.4.6
py==1.5.3
pylint==1.9.2
pytest==3.6.1
python-engineio==2.1.1
python-socketio==1.9.0
redis==2.10.6
redislite==3.2.311
selenium==3.12.0
singledispatch==3.4.0.3
six==1.11.0
Werkzeug==0.14.1
wrapt==1.10.11
